body {
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
    user-select: none;
}

.table_cards {
    position: absolute;
    display: flex;
    top: 20%;
    left: 10%;
    width: 50%;
    column-gap: 4%;
}

.table_cards > img {
   width: 19%;
}

.player_cards {
    position: absolute;
    display: flex;
    left: 27%;
    bottom: 10%;
    column-gap: 10%;
    width: 22%;
}

.player_cards > img {
   width: 45%;
}

img {
    transition-duration: .5s;
}

img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.probabilities {
    position: absolute;
    height: 100%;
    right: 0;
    width: 20%;
    background-color: aqua;
    padding-left: 10px;
}

.probabilities > table {
    width: 100%;
}

.probabilities > table > td {
    width: 50%;
}

.black_box {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}

.card_chooser {
    position: absolute;
    width: 40%;
    left: 20%;
    height: 50%;
    top: 20%;
    background-color: aquamarine;
    overflow-y: scroll;
}

.card_chooser > table {
    width: 100%;
}

.card_chooser img {
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}

#deselect_btn {
    position: absolute;
}